{% extends 'front_base.html.twig' %}


{% block title %}categorie formulaire!{% endblock %}

{% block body %}
<center>
     <h1>categorie formulaire</h1>

    <div class="card-body">
        <div class="table-responsive">
            {% for form in formcs %}
            <li class="currency">

                <a href="{{ path('ajoutFf',{'idcat': form.idcat}) }}"  >

                    {{ form.nom }}
                </a>
            </li>
            {% endfor %}
        </div>
    </div>
</center>
{% endblock %}
